include includes/header.pug 
block content 
  link(rel='stylesheet' , href='/stylesheets/main.css')
  body(class="fixed-navbar")
    div(class="page-wrapper")
      include includes/buyer-navbar.pug
      include includes/buyer-sidebar.pug
      div(class="main-dashboard")
        div(class="row" id="body-row")
          div(class="col p-0 w-25")
            div(class="col mt-2 p-3")
              div(class="profile")
                div.container 
                  div(class="content-wrapper")
                    div(class="page-content")
                      h4.text-center Farm Produce
                      if noProduce
                        p #{noProduce}
                      if pages
                        - let pagePoint = currentPage + 1
                        - let pageUrl = "/dashboard/produce?page=" + pagePoint
                        p.mb-3 Result Page #{pagePoint - 1} of #{pages}
                        if currentPage > 1
                          - let backPoint = currentPage - 1
                          - let backUrl = "/dashboard/produce?page=" + backPoint
                          a(class="btn btn-danger" href=backurl) Back
                        if currentPage != pages
                          a(class="btn btn-primary" href=pageUrl) Next
                        div(class="col-md table-responsive" style="overflow-x:auto;")
                          table.table.table-bordered
                            thead
                            tr
                              th S/N
                              th Name of Produce
                              th Quantity
                              th Cost
                              th Action
                            tbody
                            if produces
                              - let i = skipIt
                              each produce, index in produces
                                - let name = produce.produceName
                                - let quantity = produce.quantity
                                - let cost = produce.cost
                                - i++
                                tr
                                  td #{i}
                                  td #{name}
                                  td #{quantity}
                                  td #{cost}
                                  td #[a(href="/cart" class="btn btn-success cart") Purchase]
                          script(src="/javascripts/cart.js") 
                      div.text-center.justify-content-center.mt-5 
                        p
                        a(href="/buyer/dashboard" class="btn btn-success") Back to home page

    include includes/footer.pug
    script(src="/javascripts/app.js" type="module")
    